﻿.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
    font-size:14px!important;
}
.class180{
    width:8%;
}
@media (min-width: 48em) {
    .responsive-table {
        font-size: .9em;
    }
}

@media (min-width: 62em) {
    .responsive-table {
       
    }
}
.tr-active {
    background: #9eeaea!important;
}
.responsive-table thead {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@media (min-width: 48em) {
    .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}
.table-popup td {
    padding: 6px;
}
0.table-popup input[type=text]{
    width:100%;
}
.responsive-table thead th {
    background-color: #b5d1ea;
    border: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;
    color: #000;
}
.td-null{
    text-align:left!important
}
.tr-total {
    background: #e8e868!important;
}
.responsive-table thead th:first-of-type {
    text-align: left;
}
.cl-title {
    background: #b5d1ea;
   color: #000;
}
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}
.responsive-table td {
    padding:3px!important;
    height:25px!important;
}
.column-50{
    width:50%
}
.column-200 {
    width: 49%
}
@media (min-width: 48em) {
    .responsive-table tr {
            display: table-row;
        }
    }

    .responsive-table th, .responsive-table td {
    padding: 5.7px;
    vertical-align: middle;
}

@media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
       
    }
}

@media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
        display: table-cell;
       
    }
}

@media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
     
    }
}

@media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
      
    }
}

.responsive-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 48em) {
    .responsive-table caption {
        font-size: 1.5em;
    }
}

.responsive-table tfoot {
    font-size: .8em;
    font-style: italic;
}

@media (min-width: 62em) {
    .responsive-table tfoot {
        font-size: .9em;
    }
}

@media (min-width: 48em) {
    .responsive-table tbody {
        display: table-row-group;
    }
}

.responsive-table tbody tr {
    margin-bottom: 1em;
}

@media (min-width: 48em) {
    .responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
}

.responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 48em) {
    .responsive-table tbody tr:nth-of-type(even) {
        background-color: rgba(94, 93, 82, 0.1);
    }
}

.responsive-table tbody th[scope="row"] {
    background-color: #1d96b2;
    color: white;
}

@media (min-width: 30em) {
    .responsive-table tbody th[scope="row"] {
        border-left: 1px solid #1d96b2;
        border-bottom: 1px solid #1d96b2;
    }
}

@media (min-width: 48em) {
    .responsive-table tbody th[scope="row"] {
        background-color: transparent;
        color: #5e5d52;
        text-align: left;
    }
}

.responsive-table tbody td {
    text-align: right;
}

@media (min-width: 48em) {
    .responsive-table tbody td {
        border-left: 1px solid #1d96b2;
        border-bottom: 1px solid #1d96b2;
        text-align: center;
    }
}

@media (min-width: 48em) {
    .responsive-table tbody td:last-of-type {
        border-right: 1px solid #1d96b2;
    }
}

.responsive-table tbody td[data-type=currency] {
    text-align: right;
}

.responsive-table tbody td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(94, 93, 82, 0.75);
}

@media (min-width: 30em) {
    .responsive-table tbody td[data-title]:before {
        font-size: .9em;
    }
}

@media (min-width: 48em) {
    .responsive-table tbody td[data-title]:before {
        content: none;
    }
}
