﻿
<ul class="nav navbar-nav mai-top-nav">
    <li class="nav-item">
        <a href="page1.html" class="nav-link">기초등록</a>
    </li>
    <li class="nav-item">
        <a href="index.html" class="nav-link">구매관리</a>
    </li>
    <li class="nav-item">
        <a href="page3.html" class="nav-link">영업관리</a>
    </li>


    <li class="nav-item">
        <a href="#" class="nav-link">계획관리</a>
    </li>

    <li class="nav-item">
        <a href="page5.html" class="nav-link">창고관리</a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">불량관리</a>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">재고관리</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">출력물</a>
    </li>
</ul>

