﻿
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html">H</a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar" style="margin-top:50px;height:100%">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">

                    <li>
                        <a title="Landing Page" href="page5.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">이고전표</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="page5-2.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">이고전표조회</span></a>
                    </li>

                    <li>
                        <a title="Landing Page" href="page5-3.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">이고현황</span></a>
                    </li>

                    
                </ul>
            </nav>
        </div>
    </nav>
