﻿
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html">H</a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar" style="margin-top:50px;height:100%">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">

                    <li>
                        <a title="Landing Page" href="page3.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">영업전표</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="page3-2.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">영업전표조회</span></a>
                    </li>

                    <li>
                        <a title="Landing Page" href="page3-3.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">출고현황</span></a>
                    </li>

                    <li>
                        <a title="Landing Page" href="page3-4.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">미출고현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="page3-5.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">판매현황</span></a>
                    </li>

                    <li>
                        <a title="Landing Page" href="page3-6.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">수금현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="page3-7.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">채권현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="page3-8.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">거래처관리대장</span></a>
                    </li>
                   
                </ul>
            </nav>
        </div>
    </nav>
