﻿
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html">H</a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar" style="margin-top:50px;height:100%">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">

                    <li>
                        <a title="Landing Page" href="index.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">구매전표</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="index-1.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">구매전표조회</span></a>
                    </li>

                    <li>
                        <a title="Landing Page" href="index-2.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">발주현황</span></a>
                    </li>

                    <li>
                        <a title="Landing Page" href="index-3.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">미통관현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="index-5.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">통관현황</span></a>
                    </li>

                    <li>
                        <a title="Landing Page" href="index-6.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">미입고현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="index-7.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">입고현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="index-8.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">구매 현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="index-9.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">지급현황</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="index-10.html" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">거래처관리대장</span></a>
                    </li>
                    <li>
                        <a title="Landing Page" href="#" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">통관의뢰서</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
